<%- layout("/layouts/boilerplate") %> 
    <h2>All Campgrounds 
        <a class= "btn btn-success"href="/campgrounds/new">Add new campgrounds</a>
        <a class= "btn btn-success"href="/">Back to Index</a>
    </h2>
    <ul class = "my-3">
        <% for (let campground of campgrounds){ %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4 m-auto">
                        <img  src="<%= campground.images[0].url %>" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= campground.title%></h5>
                            <p class="card-text"><%= campground.description%></p>
                            <p class="card-text">
                                <small><%= campground.price?`Rs. ${campground.price.toString()}`:"FREE" %></small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted"><%= campground.location%></small>
                            </p>
                            <form action="/campgrounds/<%= campground._id%>"><button class="btn btn-primary">View Campground</button></form>
                        </div>
                    </div>
                </div>
            </div>    
        <% } %> 
    </ul>